@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
  --mainFont: 'Quicksand', sans-serif;
  --main-color: #662483;
  --secundary-color: #f39200;
  --light-secundary-color: #FDE9CC;
  --titles: 24px;
}

body {
  margin: 0;
  font-family: var(--mainFont);
}